In [73]:
import os
os.environ['TF_USE_LEGACY_KERAS'] = '1'

import tensorflow_decision_forests as tfdf

import numpy as np
import pandas as pd
import tensorflow as tf
import tf_keras
import math
from sklearn.preprocessing import OneHotEncoder

print("Found TensorFlow Decision Forests v" + tfdf.__version__)

Found TensorFlow Decision Forests v1.9.0

In [102]:
#전처리
dataset = pd.read_csv("/Users/hongseunghyeog/Documents/penguins.csv")
#결측값 확인
dataset.isnull().sum()
#bill_length 결측값 처리
length_average = round(dataset['bill_length_mm'].mean(),1)
dataset['bill_length_mm']=dataset['bill_length_mm'].fillna(length_average)
#bill_depth 결측값 처리
depth_average = round(dataset['bill_depth_mm'].mean(),1)
dataset['bill_depth_mm']=dataset['bill_depth_mm'].fillna(depth_average)
#flipper_length 결측값 처리
flipper_average = round(dataset['flipper_length_mm'].mean(),0)
dataset['flipper_length_mm']=dataset['flipper_length_mm'].fillna(flipper_average)
#body_mass 결측값 처리
body_average = round(dataset['body_mass_g'].mean(),0)
dataset['body_mass_g']=dataset['body_mass_g'].fillna(body_average)
#species 원핫인코딩
label_species=dataset['species']
label_species.unique()
ohe_species = OneHotEncoder(sparse_output=False)
ohe_species.fit(label_species.values.reshape(-1,1))
ohe_species.transform(label_species.values.reshape(-1,1))
label_ohe_species = ohe_species.transform(label_species.values.reshape(-1,1))
ohe_df_species=pd.DataFrame(label_ohe_species,columns=['species_Adelie','species_Chinstrap','species_Gentoo'])
dataset=pd.concat([dataset,ohe_df_species],axis=1).drop('species',axis=1)
#island 원핫인코딩
label_island=dataset['island']
label_island.unique()
ohe_island = OneHotEncoder(sparse_output=False)
ohe_island.fit(label_island.values.reshape(-1,1))
ohe_island.transform(label_island.values.reshape(-1,1))
label_ohe_island = ohe_island.transform(label_island.values.reshape(-1,1))
ohe_df_island=pd.DataFrame(label_ohe_island,columns=['island_Biscoe','island_Dream','island_Torgersen'])
dataset=pd.concat([dataset,ohe_df_island],axis=1).drop('island',axis=1) 
dataset

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen
0,39.1,18.7,181.0,3750.0,male,2007,1.0,0.0,0.0,0.0,0.0,1.0
1,39.5,17.4,186.0,3800.0,female,2007,1.0,0.0,0.0,0.0,0.0,1.0
2,40.3,18.0,195.0,3250.0,female,2007,1.0,0.0,0.0,0.0,0.0,1.0
3,43.9,17.2,201.0,4202.0,NaN,2007,1.0,0.0,0.0,0.0,0.0,1.0
4,36.7,19.3,193.0,3450.0,female,2007,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
339,55.8,19.8,207.0,4000.0,male,2009,0.0,1.0,0.0,0.0,1.0,0.0
340,43.5,18.1,202.0,3400.0,female,2009,0.0,1.0,0.0,0.0,1.0,0.0
341,49.6,18.2,193.0,3775.0,male,2009,0.0,1.0,0.0,0.0,1.0,0.0
342,50.8,19.0,210.0,4100.0,male,2009,0.0,1.0,0.0,0.0,1.0,0.0
343,50.2,18.7,198.0,3775.0,female,2009,0.0,1.0,0.0,0.0,1.0,0.0

In [67]:
type(dataset['sex'])
print(dataset['sex'].value_counts())

sex
male      168
female    165
Name: count, dtype: int64

In [ ]:
[array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)]